<header class="navbar">
  <div class="inner container-1140">
    <a class="brand" href="./index.html">
      <span class="logo"><img class="logo" src="/assets/logo.png" alt="logo"></span><span>UIC EDT</span>
    </a>
    <button class="nav-toggle" aria-label="Menu">☰</button>
    <nav class="nav-links">
      <a href="./index.html">Home</a>
      <a href="./air.html">AIR</a>
      <a href="./lunabotics.html">Lunabotics</a>
      <a href="./robobrawl.html">RoboBrawl</a>
      <a href="./donate.html">Donate</a>
    </nav>
  </div>
</header>